In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('studentdata.csv')

In [3]:
df.head()

,gender,StageID,Topic,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,Class
0,M,lowerlevel,IT,Father,15,16,2,20,Good,M
1,M,lowerlevel,IT,Father,20,20,3,25,Good,M
2,M,lowerlevel,IT,Father,10,7,0,30,Bad,L
3,M,lowerlevel,IT,Father,30,25,5,35,Bad,L
4,M,lowerlevel,IT,Father,40,50,12,50,Bad,M

In [4]:
df.shape

(480, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   StageID                   480 non-null    object
 2   Topic                     480 non-null    object
 3   Relation                  480 non-null    object
 4   raisedhands               480 non-null    int64
 5   VisITedResources          480 non-null    int64
 6   AnnouncementsView         480 non-null    int64
 7   Discussion                480 non-null    int64
 8   ParentschoolSatisfaction  480 non-null    object
 9   Class                     480 non-null    object
dtypes: int64(4), object(6)
memory usage: 37.6+ KB

In [6]:
def find_distinct_values(dataset, columns):
    distinct_value_counts = {}

    for column in columns:
        distinct_values = dataset[column].value_counts()
        distinct_value_counts[column] = distinct_values

    return distinct_value_counts

In [7]:
# Specify the columns for which you want to find distinct values
columns_to_check = ['gender', 'Topic','Relation']

# Call the function
distinct_values = find_distinct_values(df, columns_to_check)

# Print the distinct values for each column
for column, values in distinct_values.items():
    print(f"Distinct values in {column}:")
    print(values)
    
    print()

Distinct values in gender:
M    305
F    175
Name: gender, dtype: int64

Distinct values in Topic:
IT           95
French       65
Arabic       59
Science      51
English      45
Biology      30
Spanish      25
Chemistry    24
Geology      24
Quran        22
Math         21
History      19
Name: Topic, dtype: int64

Distinct values in Relation:
Father    283
Mum       197
Name: Relation, dtype: int64

In [8]:
def count_distinct_values(dataset):
    distinct_value_counts = {}

    for column in dataset.columns:
        distinct_values = dataset[column].nunique()
        distinct_value_counts[column] = distinct_values

    return distinct_value_counts

In [9]:
count_distinct_values(df)

{'gender': 2,
 'StageID': 3,
 'Topic': 12,
 'Relation': 2,
 'raisedhands': 82,
 'VisITedResources': 89,
 'AnnouncementsView': 88,
 'Discussion': 90,
 'ParentschoolSatisfaction': 2,
 'Class': 3}

# using Pandas getdummies

In [10]:
df.shape

(480, 10)

In [11]:
df_dummies = pd.get_dummies(df, columns=['gender','Topic','Relation'])

In [12]:
df_dummies

,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,Class,gender_F,gender_M,Topic_Arabic,...,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Father,Relation_Mum
0,lowerlevel,15,16,2,20,Good,M,0,1,0,...,0,0,0,1,0,0,0,0,1,0
1,lowerlevel,20,20,3,25,Good,M,0,1,0,...,0,0,0,1,0,0,0,0,1,0
2,lowerlevel,10,7,0,30,Bad,L,0,1,0,...,0,0,0,1,0,0,0,0,1,0
3,lowerlevel,30,25,5,35,Bad,L,0,1,0,...,0,0,0,1,0,0,0,0,1,0
4,lowerlevel,40,50,12,50,Bad,M,0,1,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,MiddleSchool,5,4,5,8,Bad,L,1,0,0,...,0,0,0,0,0,0,0,0,1,0
476,MiddleSchool,50,77,14,28,Bad,M,1,0,0,...,0,1,0,0,0,0,0,0,1,0
477,MiddleSchool,55,74,25,29,Bad,M,1,0,0,...,0,1,0,0,0,0,0,0,1,0
478,MiddleSchool,30,17,14,57,Bad,L,1,0,0,...,0,0,1,0,0,0,0,0,1,0
479,MiddleSchool,35,14,23,62,Bad,L,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
df.shape

(480, 10)

# N-1 OneHotEncoding

In [14]:
df_dummies = pd.get_dummies(df, columns=['gender','Topic','Relation'],drop_first=True)
df_dummies.shape

(480, 20)

In [15]:
df_dummies

,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,Class,gender_M,Topic_Biology,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Mum
0,lowerlevel,15,16,2,20,Good,M,1,0,0,0,0,0,0,1,0,0,0,0,0
1,lowerlevel,20,20,3,25,Good,M,1,0,0,0,0,0,0,1,0,0,0,0,0
2,lowerlevel,10,7,0,30,Bad,L,1,0,0,0,0,0,0,1,0,0,0,0,0
3,lowerlevel,30,25,5,35,Bad,L,1,0,0,0,0,0,0,1,0,0,0,0,0
4,lowerlevel,40,50,12,50,Bad,M,1,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,MiddleSchool,5,4,5,8,Bad,L,0,0,1,0,0,0,0,0,0,0,0,0,0
476,MiddleSchool,50,77,14,28,Bad,M,0,0,0,0,0,1,0,0,0,0,0,0,0
477,MiddleSchool,55,74,25,29,Bad,M,0,0,0,0,0,1,0,0,0,0,0,0,0
478,MiddleSchool,30,17,14,57,Bad,L,0,0,0,0,0,0,1,0,0,0,0,0,0
479,MiddleSchool,35,14,23,62,Bad,L,0,0,0,0,0,0,1,0,0,0,0,0,0

# OneHotEncoding using Sklearn

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:9],df.iloc[:,-1],test_size=0.2,random_state=91)

In [17]:
X_train

,gender,StageID,Topic,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction
183,F,MiddleSchool,Arabic,Father,25,15,32,53,Bad
346,F,lowerlevel,French,Mum,24,97,15,14,Good
228,M,HighSchool,Math,Mum,73,84,77,81,Good
470,M,MiddleSchool,History,Father,81,86,86,41,Good
23,M,MiddleSchool,IT,Father,2,0,2,50,Bad
...,...,...,...,...,...,...,...,...,...
349,M,lowerlevel,French,Mum,15,4,12,7,Good
210,M,MiddleSchool,Spanish,Mum,27,90,82,14,Good
362,M,lowerlevel,Arabic,Father,90,98,41,38,Good
174,F,lowerlevel,French,Father,50,62,73,43,Bad
178,F,lowerlevel,French,Mum,80,42,33,13,Bad

In [18]:
X_train.shape

(384, 9)

In [19]:
X_train

,gender,StageID,Topic,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction
183,F,MiddleSchool,Arabic,Father,25,15,32,53,Bad
346,F,lowerlevel,French,Mum,24,97,15,14,Good
228,M,HighSchool,Math,Mum,73,84,77,81,Good
470,M,MiddleSchool,History,Father,81,86,86,41,Good
23,M,MiddleSchool,IT,Father,2,0,2,50,Bad
...,...,...,...,...,...,...,...,...,...
349,M,lowerlevel,French,Mum,15,4,12,7,Good
210,M,MiddleSchool,Spanish,Mum,27,90,82,14,Good
362,M,lowerlevel,Arabic,Father,90,98,41,38,Good
174,F,lowerlevel,French,Father,50,62,73,43,Bad
178,F,lowerlevel,French,Mum,80,42,33,13,Bad

In [20]:
X_test.shape

(96, 9)

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
oe=OneHotEncoder(drop='first',sparse=False)

In [23]:
X_train_new =oe.fit_transform(X_train[['gender','Topic','Relation']])

In [24]:
X_train_new

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [25]:
X_test_new =oe.transform(X_test[['gender','Topic','Relation']])

In [26]:
X_test_new

array([[0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 1., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [27]:
#convert back to dataframe
X_train_new = pd.DataFrame(X_train_new, columns=oe.get_feature_names(['gender','Topic','Relation']))

C:\Users\Alina\anaconda3\envs\tesnorflow\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [28]:
X_train_new

,gender_M,Topic_Biology,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Mum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
380,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
381,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
X_test_new = pd.DataFrame(X_test_new, columns=oe.get_feature_names(['gender','Topic','Relation']))

C:\Users\Alina\anaconda3\envs\tesnorflow\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [30]:
X_test_new

,gender_M,Topic_Biology,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Mum
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
92,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
93,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
95,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [31]:
columns_to_drop = ['gender','Topic','Relation']

In [32]:
X_train_dropped = X_train.drop(columns_to_drop, axis=1)
X_test_dropped = X_test.drop(columns_to_drop, axis=1)

In [33]:
# Reset the indexes of both dataframes
X_train_dropped.reset_index(drop=True, inplace=True)
X_train_new.reset_index(drop=True, inplace=True)
X_test_dropped.reset_index(drop=True, inplace=True)
X_test_new.reset_index(drop=True, inplace=True)

In [34]:
X_train_combined = pd.concat([X_train_dropped, X_train_new], axis=1)
X_test_combined = pd.concat([X_test_dropped, X_test_new], axis=1)

In [35]:
X_train_combined

,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,gender_M,Topic_Biology,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Mum
0,MiddleSchool,25,15,32,53,Bad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,lowerlevel,24,97,15,14,Good,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,HighSchool,73,84,77,81,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,MiddleSchool,81,86,86,41,Good,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MiddleSchool,2,0,2,50,Bad,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,lowerlevel,15,4,12,7,Good,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
380,MiddleSchool,27,90,82,14,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
381,lowerlevel,90,98,41,38,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,lowerlevel,50,62,73,43,Bad,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,lowerlevel,80,42,33,13,Bad,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [36]:
X_test_combined

,StageID,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,gender_M,Topic_Biology,Topic_Chemistry,Topic_English,Topic_French,Topic_Geology,Topic_History,Topic_IT,Topic_Math,Topic_Quran,Topic_Science,Topic_Spanish,Relation_Mum
0,MiddleSchool,80,90,49,55,Bad,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,lowerlevel,0,6,4,15,Bad,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,MiddleSchool,7,61,22,14,Bad,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,MiddleSchool,50,77,14,28,Bad,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,MiddleSchool,81,84,77,85,Good,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,MiddleSchool,82,89,58,50,Good,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
92,lowerlevel,21,12,0,50,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
93,MiddleSchool,11,2,9,49,Bad,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,MiddleSchool,19,20,16,50,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
95,lowerlevel,70,83,29,33,Good,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0